extends layout

block content
  h1 Dasbor Resepsionis

  h2 Daftar Reservasi
  table
    thead
      tr
        th ID
        th Nama
        th Paket
        th Hari
        th Fasilitas
        th Link
    tbody
      each i in reservasi
        tr
          td= i.id
          td= i.nama
          td= i.paket
          td= i.hari
          td= i.fasilitas
          td
            a(href=`reservasi/${i.id}`) Link
  
  h2 Daftar Harga
  h3 Kelas
  each i in harga.kelas
    p ID: #{i.id} #{i.kelas} Rp#{i.harga}
  h3 Fasilitas
  each i in harga.fasilitas
    p ID: #{i.id} #{i.fasilitas} Rp#{i.harga}
  
  h2 Daftar Tagihan
  each i in tagihan
    p ID: #{i.id} ID Reservasi: #{i.id_reservasi} Rp#{i.jumlah}