extends layout

block content
  h1 Reservasi Detail
  p ID: #{data.id}
  p Status: #{data.status}
  p Nama: #{data.nama}
  p Paket: #{data.paket}
  p Hari: #{data.hari}

  if data.status == 1
    h2 Formulir Keluar
    p Tambahan?
    form(action=`/reservasi/${data.id}/keluar`, method="post")
      each i in harga.fasilitas
        div
          input(id=i.id, type="checkbox", name="fasilitas", value=i.id)
          label(for=i.id) #{i.fasilitas} #{i.harga}
      br
      input(type="submit", value="Keluar")
  else
    h2 Daftar Fasilitas
    p Fasilitas: #{data.fasilitas}

